@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
}

body.modal-open {
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* Logo */
.site-nav .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .site-nav .logo {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.site-nav .logo-accent {
  color: #2196f3;
}

.site-nav .menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .site-nav .menu-button {
    display: none;
  }
}

.site-nav .menu-button .icon-close {
  display: none;
}

.site-nav .menu-button.is-open .icon-close {
  display: block;
}

.site-nav .menu-button.is-open .icon-menu {
  display: none;
}

.site-nav .menu-page {
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .site-nav .menu-page {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px;
    text-align: center;
  }
  .site-nav .menu-page.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .menu-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 80px;
  }
}

/*Web studio*/
.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.page-header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-header .site-nav {
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .page-header .site-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .page-header .site-page {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .page-header .iten:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .page-header .iten:not(:last-child) {
    margin-bottom: 40px;
  }
}

/*Peges*/
.site-nav {
  /*Contact*/
}

.site-nav .site-page .iten {
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav .site-page .iten {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav .site-page .page-link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .site-page .page-link:hover, .site-nav .site-page .page-link:focus {
  color: #2196f3;
}

.site-nav .site-page .current {
  color: #2196f3;
  text-decoration: none;
}

.site-nav .site-page .current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.site-nav .site-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .site-nav .site-contact {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .site-contact {
    margin-left: auto;
    padding-top: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav .site-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.site-nav .site-contact .iten {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .site-nav .site-contact .iten:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .site-contact .iten:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav .site-contact .iten:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.site-nav .site-contact .contact {
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .site-contact .contact:hover, .site-nav .site-contact .contact:focus {
  color: #2196f3;
  --color1: #2196f3;
}

.site-nav .site-contact .contact-icon {
  margin-right: 10px;
}

.hero-section {
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Headermobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Headermobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section .hero-section {
    background-image: url(../images/Headermobile2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero-section .hero-section {
    background-image: url(../images/Headertablet.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero-section .hero-section {
    background-image: url(../images/Headertablet2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero-section .hero-section {
    background-image: url(../images/header.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero-section .hero-section {
    background-image: url(../images/Header2x.jpg);
  }
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero .hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero .hero-title {
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 46px;
  }
}

.hero .button-primary {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Модальное окно */
.baсkdrop {
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .baсkdrop {
    padding: 93px 15px;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .baсkdrop {
    padding: 208px 159px;
    overflow-y: scroll;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px 35px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 528px;
    width: 100%;
  }
}

.form .close-modal {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0;
  -webkit-transform: translate(25%, -25%);
          transform: translate(25%, -25%);
  border-radius: 50%;
  border-color: transparent;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .form .close-modal {
    top: 109px;
    right: 31px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form .close-modal {
    top: 224px;
    right: 175px;
  }
}

.form .close-modal:hover {
  color: #2196f3;
  --color1: #2196f3;
}

.form .text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form .form-field {
  position: relative;
  margin-bottom: 28px;
}

.form .form-comments {
  margin-bottom: 20px;
}

.form .form-imput {
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 42px;
}

.form .form-imput:focus {
  border-color: #2196f3;
  outline: none;
}

.form .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .form .label {
    font-size: 12px;
  }
}

.form .botton-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.form-comments .textrea {
  width: 100%;
  padding: 12px 16px;
  resize: none;
}

.form-comments .textrea:focus {
  border-color: #2196f3;
  outline: none;
}

.label-check {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .label-check {
    font-size: 14px;
  }
}

.label-check .text-accent {
  margin-left: 5px;
  color: #2196f3;
}

.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-imput:focus ~ .icon {
  --color1: #2196f3;
}

.icon-check {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox:checked + .icon-check {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../images/icon-check1.svg");
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.form-imput:focus + .form-label,
.form-imput:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
  left: 16px;
  color: #2196f3;
}

.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 1px solid black;
}

/* Features */
.section-features {
  background: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-features .features-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .section-features .features-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-features .features-title {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.section-features .iten {
  max-width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-features .iten {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-features .iten:not(:last-child) {
    margin-right: 30px;
  }
}

.section-features .icon-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.section-features .title-text {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
}

.section-features .text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

/* Services */
.section-services {
  background: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .section-services {
    display: none;
  }
}

.section-services .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  position: relative;
}

.section-services .title-text {
  position: absolute;
  bottom: 0;
}

.section-services .services-text {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section-services .title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background: #d0d3d4;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  width: 370px;
  height: 70px;
}

.section-services .services-title:not(:last-child) {
  margin-right: 30px;
}

/* Our Team */
.section-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team .team-flex {
  padding-left: 0;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team .team-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-team .team-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.section-team .team-title {
  display: block;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .section-team .team-title {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

.section-team .team-list {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team .team-list {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .section-team .team-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-team .team-list:not(:last-child) {
    margin-right: 30px;
  }
}

.section-team .team-text {
  padding-top: 30px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-team .text {
  padding-top: 10px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-team .item-icon {
  background-color: #ffffff;
  border-radius: 50%;
}

.section-team .item-icon:hover, .section-team .item-icon:focus {
  --color3: #f5f4fa;
}

.section-team .item-icon:hover, .section-team .item-icon:focus {
  background-color: #2196f3;
}

.section-team .icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team .team-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 28px;
  padding-bottom: 36px;
  padding-left: 32px;
  padding-right: 32px;
}

/* Clients */
.section-company {
  background: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-company .company-text {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .section-company .company-text {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

.section-company .company-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .section-company .company-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .section-company .company-list {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.section-company .iten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .section-company .iten {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-company .iten {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-company .iten {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-company .iten:not(:last-child) {
    margin-right: 30px;
  }
}

.section-company .iten:hover, .section-company .iten:focus {
  --color3: #2196f3;
  border: 1px solid #2196f3;
}

/* Futer */
.futer {
  background: #2f303a;
  /* Logo */
  /* Address, tel., mail */
}

@media screen and (min-width: 768px) {
  .futer .futer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .futer .futer-address {
    margin-bottom: 60px;
  }
}

.futer .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.18;
  color: #ffffff;
  text-decoration: none;
}

.futer .logo-accent {
  color: #2196f3;
}

.futer .container {
  padding-top: 48px;
  padding-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1199px) {
  .futer .container {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .futer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.futer .address-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.futer .address {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.futer .contact {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .futer-link {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .futer-link {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .futer-link {
    margin-left: 165px;
  }
}

.futer-link .title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .futer-link .title-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .futer-link .title-text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.futer-link .link-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  --color3: #ffffff;
  -webkit-transition: background-color 250ms color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.futer-link .link-img:hover, .futer-link .link-img:focus {
  background-color: #2196f3;
}

.futer-link .link:not(:last-child) {
  margin-right: 10px;
}

.futer-link .link-title {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscription .title {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscription .send-email {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  background: #2f303a;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription .send-email {
    display: block;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .subscription .send-email {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.subscription .button-primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription .icon-send {
  margin-left: 10px;
}

/* Filter */
.section-filter .filter {
  padding-top: 94px;
}

@media screen and (max-width: 1199px) {
  .section-filter .filter {
    padding-top: 60px;
  }
}

.section-filter .filter-flex {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-filter .filter-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .section-filter .filter-title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.section-filter .button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  display: inline-block;
  border: #f5f4fa;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-transition: background-color 250ms color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.section-filter .button:hover, .section-filter .button:focus {
  color: #ffffff;
  background: #2196f3;
}

@media screen and (max-width: 767px) {
  .section-filter .item {
    margin-bottom: 10px;
  }
}

.section-filter .item:not(:last-child) {
  margin-right: 8px;
}

/* Works */
.section-work .work {
  padding-top: 50px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-work .work {
    padding-top: 30px;
  }
}

.section-work .work-flex {
  color: #ffffff;
  font-size: 0px;
}

@media screen and (min-width: 768px) {
  .section-work .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-work .number {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section-work .number {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-work .number {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .section-work .number:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-work .number:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-work .number:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.section-work .card-text {
  padding: 20px 24px;
  background-color: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.section-work .link {
  display: block;
  text-decoration: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-work .link:hover, .section-work .link:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.section-work img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}

.section-work .work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.section-work .work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

/* Анимация */
.card {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .overlay,
.link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.text-primary {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */