$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$accent-white-color: #ffffff;
$bg-color: #ffffff;
$bg-color-secondary: #f5f4fa;
$bg-color-accent: #2196f3;
$bg-color-futer: #2f303a;

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Roboto, sans-serif;
}
body.modal-open{
  overflow: hidden;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  // width: 1200px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
